{% extends 'dash.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body p-0">
                    <h5 class="card-title p-3">Confirmed orders</h5>
                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container top-selling overflow-auto">
                           {% if orders %}
                           <table class="table datatable datatable-table">
                            <thead>
                                <tr>
                                    <th data-sortable="true">#</th>                                   </th>
                                    <th data-sortable="true">Title</th>                                   </th>
                                    <th data-sortable="true">Auth</th>                                   </th>
                                    <th data-sortable="true">Date</th>                                   </th>
                                    <th data-sortable="true">Action</th>                                   </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}


                                <tr data-index="0">
                                    <td>{{order.id}}</td>
                                    <td>{{order.full_name}}</td>

                                    {% if order.user %}
                                    <td class="text-success">Yes</td>
                                    {% else %}
                                    <td class="text-danger">No</td>
                                    {% endif %}

                                    <td>{{order.created|date:"F j, Y"}}

                                    <td>
                                        <a class="btn btn-sm btn-info text-white" href="/order/{{order.id}}">
                                            View
                                        </a>
                                    </td>
                                    {% endfor %}

                            </tbody>
                        </table>
                           
                           {% else %}
                           <h4 class="text-center"> No order</h4>
                           {% endif %}
                            <div class="pagination mb-3 d-flex justify-content-center">
                                <span class="step-links">
                                    {% if orders.has_previous %}
                                    <a class="btn btn-outline-primary rounded-pill"
                                        href="?page={{ orders.previous_page_number }}">Previous</a>
                                    {% endif %}

                                    {% if orders.has_next %}
                                    <a class="btn btn-outline-primary rounded-pill"
                                        href="?page={{ orders.next_page_number }}">Next</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                    </div>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}