{% extends 'dash.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 card p-3">
            <h1 class="my-4 h3">{{ title }}</h1>
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="form-control" value="{{post.title}}" type="text" placeholder="Title" name="title" maxlength="200" required="" id="id_title">
                    <label for="id_image" class="mt-2"><strong>Image</strong></label>
                    <input class="form-control" type="file" name="image" accept="image/*" id="id_image">
                    <a class="mt-2" href="{{post.image.url}}"> Current Image</a><br>
                    <label for="language" class="form-label mt-2"><strong>Language</strong>:</label>
                    {{form.language}}
                    <label for="language" class="form-label mt-2"><strong>Categroy</strong>:</label>
                    {{form.category}}
                    <textarea class="form-control mt-2" placeholder="Description" name="description" cols="40" rows="5" required="" id="id_description"  spellcheck="false">{{post.description}}</textarea>
                    <label for="body" class="mt-2"><strong>Content</strong></label>
                    {{form.body}}
                <button type="submit" class="btn btn-primary w-100 mt-3">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}