
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<style>
    .hero-content{
        background-image: url('/static/img/trading.jpg');
        background-position: right;
        background-size: cover;
    }
</style>

    <!-- ======= Hero Section ======= -->

    <section class="p-0 m-0 hero-content">
        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class=" d-flex flex-column justify-content-center pt-4 pt-lg-0" data-aos="fade-up"
                        data-aos-delay="200">
                        <h1 class="text-center">{% trans "Ne laissez plus la confusion vous freiner" %}</h1>
                        <h2 class="text-center">{% trans "Contactez-nous et accédez à des graphiques avancés en temps réel pour tous les marchés, sur tous vos appareils." %}</h2>
                        <div class="justify-content-center d-grid d-sm-grid d-flex d-md-flex d-xl-flex">
                            <a href="/contact" class="btn-get-started scrollto">{% trans "Contactez-nous" %}</a>
                            <a href="https://vimeo.com/818209078" class="glightbox btn-watch-video">
                                <i class="bi bi-play-circle"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <main id="main">
        <!-- ======= robot Article ======= -->
        <section id="services" class="services section-bg ">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>{% trans "Automatisez vos idées de trading sans intervention humaine" %}</h2>
                </div>
                {% for post  in  post_robo %}
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 row">
                        <div class="col-lg-8 d-flex my-4 flex-column {% if forloop.counter|divisibleby:2 %} order-md-2 {% endif%}">
                            <div class="content">
                                <h3>{{post.title}}</h3>
                                <p class="lh-lg h6 mt-3" dir="auto">{{post.description}} </p>
                                <a href="/post/{{post.id}}">{% trans "Savoir plus" %}</a>
                            </div>
                        </div>
    
                        <div class="col-lg-4 align-items-stretch img">
                            <img class="rounded border img-fluid animated" src="{{post.image.url}}" alt="">
                        </div>
                    </div>
                </div>
                {% endfor %}
  
        </section>


        <!-- LES AVANTAGES -->
        <section id="faq" class="faq section-bg bg-white">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>{% trans "Les avantages du robot auto trading" %}</h2>
                </div>
                <div class="faq-list">
                    <ul>

                        {% for benefit in  robot_benefits %}
                        <li class="bg-light" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-{{benefit.id}}">
                                <span>{{benefit.title}}</span>
                                {% comment %} <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i> {% endcomment %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </section>
        <!-- Products -->
         {% include 'components/robot.html' %}


        <!-- ======= u'est-ce que Algo Indicateur ======= -->
        <section class="why-us section-bg" id="heor">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row">
                    <div
                        class="col-lg-7 order-md-1 order-2 d-flex flex-column justify-content-center align-items-stretch ">
                        <div class="content">
                            <h3><strong>{% trans "Qu'est-ce que Algo Indicateur?" %}</strong></h3>
                            {% if LANGUAGE_CODE == 'ar' %}
                            <p class="lh-lg fw-bolder">مؤشر Algo  ، هو برنامج يستخدم قواعد وخوارزميات محددة مسبقًا لتنفيذ التداولات في الأسواق المالية تلقائيًا. تم تصميمه لتحليل بيانات السوق ، مثل تحركات الأسعار والحجم والمؤشرات الأخرى ، لتحديد فرص التداول وتنفيذ التداولات بناءً على قواعد المبرمجة، والذي يضن النجاح في التداول بنسبة عالية.</p>
                            {% else %}
                            <p class="lh-lg fw-bolder">Algo indicateur est un logiciel qui utilise des règles et des algorithmes prédéfinis pour exécuter automatiquement des transactions sur les marchés financiers. Il est conçu pour analyser les données du marché, telles que les mouvements de prix, le volume et d'autres indicateurs, afin d'identifier les opportunités de trading et d'exécuter des transactions basées sur des règles programmées, ce qui garantit un succès commercial élevé.</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- 600 x 450 -->
                    <div class="col-lg-5 align-items-stretch img rounded hero-img aos-init aos-animate"
                        data-aos="zoom-in" data-aos-delay="200">
                        <img src="{% static "assets/img/12.png" %}" class="img-fluid animated" alt="">
                    </div>
                </div>
            </div>
        </section>


        
        <!-- ======= Algo indicateur Articles ======= -->
        <section id="services" class="services bg-white">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{% trans "Algo indicateur, que peut faire pour vous ?" %}</h2>
                </div>
                {% for post in post_indicateur %}
                <div class="row d-flex justify-content-center p-3 rounded {% if forloop.counter|divisibleby:2 %} section-bg {% endif%}">
                    <div class="col-lg-7 pb-4 {% if forloop.counter|divisibleby:2 %} order-md-2 {% endif%} d-flex justify-content-center">
                        <div class="content">
                            <h3>{{post.title}}</h3>
                            <p class="lh-lg h6 mt-3">{{post.description}}</p>
                            <a href="/post/{{post.id}}">{% trans "Savoir plus" %}</a>
                        </div>
                    </div>
                    <!-- 1024 x 630 -->
                    <div class="col-lg-5 mb-3 d-flex align-items-center aos-init aos-animate" data-aos="fade-right"
                        data-aos-delay="100">
                        <img src="{{post.image.url}}" class="img-fluid rounded" alt="">
                    </div>
                </div>
                {% endfor %}
                {% if posts.count > 10 %}
                <div class="d-flex justify-content-center mt-4">
                    <a href="/posts" class="buy-btn py-2 px-4 text-center" id="1"><span>{% trans "Voir plus" %}</span></a>
                </div>
                {% endif %}
        </section>
                <!-- LES AVANTAGES -->
                {% if algo_benefits %}
                    <section id="faq" class="faq section-bg bg-white pt-0">
                        <div class="container" data-aos="fade-up">
                            <div class="section-title">
                                <h2>{% trans "Les avantages du Algo Indicateur" %}</h2>
                            </div>
                            <div class="faq-list">
                                <ul>
                                    {% for benefit in  algo_benefits %}
                                    <li class="bg-light" data-aos="fade-up" data-aos-delay="100">
                                        <i class="bx bx-help-circle icon-help"></i>
                                        <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-{{benefit.id}}">
                                            <span>{{benefit.title}}</span>
                                            {% comment %} <i class="bx bx-chevron-down icon-show"></i>
                                            <i class="bx bx-chevron-up icon-close"></i> {% endcomment %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>
                {% endif %}


        <!-- Products -->
        {% include 'components/indicateur.html' %}
    </main>
{% endblock content %}