{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-white">
        <div class="container">

            <ol>
                <li><a href="/">{% trans "Accueil" %}</a></li>
                <li>{{post.title}}</li>
            </ol>
            <h2>{{post.title}}</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page section-bg  p-3">
        <div class="container">
            <section id="contact" class="contact p-2">
                <div class="container aos-init aos-animate" data-aos="fade-up">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 order-md-1 order-2 d-flex flex-column">

                            <div class="align-items-stretch img mb-3">
                              <img class="rounded border" src="{{post.image.url}}" width="100%" alt="">
                            </div>
                            <div class="content">
                              <h1 class="h3" dir="auto">{{post.title}}</h1>
                                <strong dir="auto" class="w-100 d-inline-block"> {{post.created|date:"F j, Y"}}</strong>
                              <div dir="auto">{{post.body}}</div>
                            </div>
                          </div>
                    </div>

                </div>
            </section>
        </div>
    </section>

    {% include 'components/pricing.html' %}

</main>

{% endblock content %}