{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-white">
        <div class="container">
            <ol>
                <li><a href="/">{% trans "Accueil" %}</a></li>
                <li> {{product.name}} </li>
            </ol>
            <h2> {{product.name}} </h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="pricing" class="pricing section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row d-flex justify-content-center p-3 rounded">
                <div class="col-lg-7 order-2">
                    <div class="content">
                        <h3><del>{{product.old_price}} {% trans "MAD" %}</del></h3>
                        <h4><sup>{% trans "MAD" %}</sup>{{product.price}}</h4>
                        <a onclick="addToCart(`{{product.id}}`)" href="#!" class="buy-btn py-2 px-4 text-center me-2" id="product-{{product.id}}">
                            {% if user in product.cart.all %}
                            <i class="bx bx-check"></i>
                            {% else %}
                            <span>{% trans "Ajouter au panier" %}</span>
                            {% endif %}
                        </a>
                        <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            {% trans "Acheter Maintenant" %}
                        </button>
                        <p class="lh-base h6 mt-3 fw-4" style="white-space: pre-wrap;">{{product.description|safe}}</p>
                        <div>{{product.body|safe}}</div>
                    </div>
                </div>
                <!-- 1024 x 630 -->
                <div class="col-lg-5 mb-3 aos-init aos-animate" data-aos="fade-right"
                    data-aos-delay="100">
                    <img src="{{product.image.url}}" class="img-fluid rounded border" alt="{{product.name}}">
                </div>
            </div>

        </div>
    </section>

</main>


<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
          <h1 class="modal-title fs-5" id="exampleModalLabel">{% trans "Entrez vos informations" %}</h1>
          {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
        </div>
        <div class="modal-body">
            <form method="POST" id="pay-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="full_name"><strong>{% trans "Nom et prénom" %}</strong></label>
                    <input type="text" class="form-control" value="{{user.first_name}} {{user.last_name}}" id="full_name"
                        name="full_name">
                </div>
                <div class="form-group">
                    <label for="email" class="mt-2"><strong>{% trans "E-mail" %}</strong></label>
                    <input type="email" value="{{user.email}}" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone" f class="mt-2"><strong>{% trans "Téléphone" %}</strong></label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="payment" class="mt-2"><strong>{% trans "Méthode de payement" %}</strong></label>
                    <select class="form-control" id="payment" name="payment" required>
                        <option value="">{% trans "Sélectionner" %}</option>
                        <option value="PayPal">PayPal</option>
                        <option value="Bank RIB">Bank RIB</option>
                        <option value="Credit card">Credit card</option>
                        
                        <option value="Skrill">Skrill</option>
                        <option value="Western Union">Western Union</option>
                    </select>
                </div>

                <div class="mt-2">
                    {{ product.code|safe}}
                </div>
                
                <button type="submit" class="btn btn-primary mt-3 rounded-pill w-100">{% trans "Envoyer" %}</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">{% trans "Fermer" %}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}