{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<style>
.read-more{
    padding: 6px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: black;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.read-more:hover{
    color: #fff;
    background: #31a9e1;
}
</style>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-white">
        <div class="container">
            <ol>
                <li><a href="/"> {% trans "Accueil" %} </a></li>
                <li> {% trans "Nos produits" %} </li>
            </ol>
            <h2> {% trans "Nos produits" %} </h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="pricing" class="pricing section-bg">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row d-flex justify-content-around pt-0">
                {% for product in products %}
                <div class="col-lg-5 mt-4 mt-lg-0 aos-init aos-animate mb-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured row">
                        <div class="col-md-6 p-0"><img src="{{product.image.url}}" class="rounded border" width="100%" alt=""></div>
                        <div class="col-md-6">
                            <h3><del>{{product.old_price}} {% trans "MAD" %}</del></h3>
                            <h4><sup>{% trans "MAD" %}</sup>{{product.price}}</h4>
                        </div>
                        <div class="row pt-0">
                            <h3 class="p-0 mt-2">{{product.name}}</h3>
                            <p class="lh-base h6 fw-4 p-0 m-0" style="white-space: pre-wrap;">{{product.description|safe}}</p>
                          <div class="d-flx row gap-2">
                            {% if user.is_authenticated %}
                            <a onclick="addToCart(`{{product.id}}`)" href="#!" class="buy-btn py-2 px-4 text-center me-2" id="product-{{product.id}}">
                                {% if user in product.cart.all %}
                                <i class="bx bx-check"></i>
                                {% else %}
                                <span>{% trans "Ajouter au panier" %}</span>
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="/accounts/login" class="buy-btn py-2 px-4 text-center me-2" id="product-{{product.id}}">
                                <span>{% trans "Ajouter au panier" %}</span>
                            </a>
                            {% endif %}
                            <a class="read-more col-md-5 m-0 text-center w-100" href="/product/{{product.id}}">{% trans "Savoir plus" %}</a>
                          </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>

{% endblock content %}