{% extends 'blanck.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">

    <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <h1>{% trans "Merci" %}</h1>
      <h2 class="m-0 mt-3">{% trans "Nous vous remercions de votre commande" %}</h2> 
      <p>{% trans "Nous vous contacterons bientôt. Pour plus d'information," %}  <a href="/contact">{% trans "Contactez-nous" %}</a></p>
      <a class="btn" href="/products">{% trans "Retour aux produits" %}</a>
      <img src="{% static "img/hands.png" %}" class="py-5" width="100px" alt="Thanks">
    </section>

  </div>

{% endblock content %}