{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container mb-5">
    <div class="row market-content content-reset-password ">
        <div class="card col-sm-12 col-md-8 col-lg-6 col-xl-4 m-auto ">
            {% if validlink %}
            <h2 class="mt-2 text-center">{% trans 'Reset Password' %}</h2>
            <form method="post" class="px-2">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-password1">
                        <label for="id_new_password1">{% trans 'New Password' %}</label>
                        <input type="password" name="new_password1" required id="id_new_password1"
                            class="form-control border-darck">
                    </div>
                    <div class="form-row field-password2">
                        <label for="id_new_password2">{% trans 'New Password Confirmation' %}</label>
                        <input type="password" name="new_password2" required id="id_new_password2"
                            class="form-control border-darck">
                            <small class="text-red" id="text-error"></small>
                    </div>
                    <input id="btn-reset-password" class="btn btn-success my-3 hiden" type="submit" value="{% trans 'Change password' %}">
                </fieldset>
            </form>
            {% else %}
            <div class="mt-3 mb-3">
                <div class="text-center">
                    <img src="{% static 'svg/close.svg'%}" alt="Success" width="60px">
                </div>
                <h2 class="text-red mt-2 text-center" >{% trans 'Password reset failed' %}</h2>
                <p class="mb-3">{% trans 'The password recovery link is incorrect, possibly because it has been used before. Please request a password recovery again.' %}</p>
                <div class="text-center">
                    {% if user.is_authenticated %}
                    <a class="btn-ag ag-gray text-white" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                    {% else %}
                    <a class="btn-ag ag-green" href="{% url 'login' %}">{% trans 'Log in' %}</a>
                    <a class="btn-ag ag-blue" href="{% url 'register' %}"> {% trans 'Register' %}</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/password.js' %}"></script>
{% endblock %}