{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mb-5">
    <div class="row market-content content-reset-password ">
        <div class="card rounded py-6 px-3">
            <h4 class="mb-3 text-center"> {% trans 'Password reset has been sent' %}</h4>
            <p>{% trans 'We have sent you an email with a link where you can reset a new password.' %}</p>
            <p>{% trans 'In case the e-mail is not received, please make sure that your e-mail address is entered correctly and review your spam folder.' %}</p>
            <h5 class="mb-2">{% trans 'Check your email' %}</h5>
            {% if user.is_authenticated %}
            <a class="btn btn-primary my-2 w-50" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
            {% else %}
            <a class="btn btn-primary my-2 w-50" href="{% url 'login' %}">{% trans 'Log in' %}</a>
            <a class="btn btn-success my-2 w-50" href="{% url 'register' %}"> {% trans 'Register' %}</a>
            {% endif %}
            <h6 class="text-warning mt-2" >{% trans "If there is any problem" %},<a href="{% url 'contact' %}"> {% trans "Contact us" %}</a></h6>
        </div>
    </div>
</div>
{% endblock %}