{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" dir={{dir}}>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Algo Indicateur</title>
    <meta
        content="Le robo de trading, également connu sous le nom de trading algorithmique, est une méthode de trading."
        name="description">
    <meta content="" name="keywords">
    <link rel='canonical' href='{{request.path}}' />
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

{% if LANGUAGE_CODE == 'ar' %}

<style>
    .icon-show,
    .icon-close {
        font-size: 24px;
        position: absolute;
        left: 0 !important;
        top: 0;
    }
</style>
{% else %}
<style>
    .faq .faq-list .icon-show,
    .faq .faq-list .icon-close {
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 0;
    }
</style>
{% endif %}




<body>

    {% include 'components/header.html' %}


    {% block content %}
    {% endblock %}


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="{% static '/assets/img/favicon.png' %}" width="50px" height="50px" alt="Algo" />
                        <p class="mt-2 fw-bolder">
                            {% trans "Algo indicateur est une plateforme proposant un indicateur pour maximiser les chances de succès en trading et un robot intelligent pour le trading automatique." %}
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>{% trans "Nos produits" %}</h4>
                        <ul>
                            {% for product in footer_products %}
                            <li><i class="bx bx-chevron-right"></i><a
                                    href="/product/{{product.id}}">{{product.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>{% trans "Contactez-nous" %}</h4>
                        <p class="d-flex">&#xa0;<i class="bx h5 bxl-whatsapp"></i>&#xa0; 
                            <a href="https://api.whatsapp.com/send?phone=+212617898954&text={{message}}" target="_blank">
                                +212 617898954
                            </a>
                        </p>

                        <p class="d-flex">&#xa0;<i class="bx h5 bxl-instagram"></i>&#xa0; 
                            <a href="https://www.facebook.com/profile.php?id=100088318391255">
                                Algo_indicateur
                            </a>
                        </p>

                        <p class="d-flex">&#xa0;<i class="bx h5 bxl-facebook-circle"></i>&#xa0; 
                            <a href="https://www.instagram.com/algo_indicateur/">algo_indicateur</a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>{% trans "Méthodes de paiement" %}</h4>
                        <div class="d-flex mt-3">
                            <img class="me-3" width="40px" src="{% static '/assets/img/bank.png' %}" alt="bank" />
                            <img class="me-3" width="40px" src="{% static '/assets/img/western-union.png' %}"
                                alt="western union" />
                            <img class="me-3" width="40px" src="{% static '/assets/img/skrill.png' %}" alt="skrill" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- Whatsapp Chat -->
    <div class="whatsapp-chat">
        <a href="https://api.whatsapp.com/send?phone=+212617898954&text={{message}}" target="_blank">
            <i class="bx bxl-whatsapp"></i>
        </a>
    </div>

    <div id="preloader" {% if LANGUAGE_CODE == 'ar' %} dir="ltr" {% endif %} >
        <div class="line"></div>
    </div>
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>


    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>


    <script>



        const addToCart = (value) => {
            const url = '/add-to-cart';
            const params = {
                product: value,
            };

            // {% if not 'cart' in request.path %}
            document.querySelector('#product-' + value).innerHTML = '<div class="spinner-border"  style="width: 20px;height: 20px;" role="status"> </div>'
            // {% endif %}

            // Convert params object to query string
            const queryString = Object.entries(params)
                .map(([key, value]) => `${key}=${encodeURIComponent(value)}`)
                .join('&');


            const requestUrl = `${url}?${queryString}`;

            // Make the fetch request
            fetch(requestUrl)
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#cart').textContent = data.cart;
                    if (data.exist) {
                        document.querySelector('#product-' + value).innerHTML = '<i class="bx bx-check"></i>'
                    } else {
                        document.querySelector('#product-' + value).innerHTML = '<span>{% trans "Ajouter au panier" %}</span>'
                    }
                })
                .catch(error => console.error(error));
        }

        // Remove from cart
        const remove = (value) => {
            if (confirm("{% trans 'Êtes-vous sûr de vouloir supprimer le produit' %}")) {
                document.querySelector('#cart-' + value).remove()
                addToCart(value)
            }

        }

    </script>


</body>

</html>