{% extends 'blanck.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">

    <section class="section row error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <div class="card col-md-6 p-3 border shadow-sm">
                <div class="p-2">
                    <h4 class="modal-title">{% trans 'Sing Up | Log In' %}</h4>
                </div>
                <div class=" p-2">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li class="text-red">{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="well mt-2">
                        <form class="p-1" method="POST" enctype="multipart/form-data" role="form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <small class="text-danger">{{ form.username.errors }}</small>
                                <div class="mr-0 lang-text ">
                                    {{form.username}}
                                </div>
                                <small class="text-info mb-2 mr-4">{{ form.username.help_text}}</small>
                            </div>
                            <div class="mb-3">
                                <small class="text-danger">{{ form.email.errors }}</small>
                                {{form.email}}
                            </div>
                            <div class="mb-3">
                                <small class="text-danger">{{ form.first_name.errors }}</small>
                                {{form.first_name}}
                            </div>
                            <div class="mb-3">
                                {{form.last_name}}
                            </div>
                            <div class="mb-3">
                                {{form.password1}}
                            </div>
                            <div class="mb-3">
                                <small class="text-danger">{{ form.password2.errors }}</small>
                                {{form.password2}}
                            </div>
                            <div class="text-center mb-3">
                                <button class="btn w-100 mb-2">{% trans 'Sing in' %}</button>
                                <a href="{% url 'login' %}" class="btn-ag ag-blue mt-3 w-100">{% trans 'I have account' %}?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </div>

{% endblock content %}




