{% load i18n %}
{% load static %}
<div class="container aos-init aos-animate p-3">
    <h3 class="text-center mb-4">{% trans "Si vous êtes à la recherche d'un des meilleurs brokers de trading reconnus dans le monde entier, ne cherchez pas plus loin que Deriv" %}</h3>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="text-center mt-3 d-none d-md-block">
                <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHqws6I0Pc5-VWNd7ZgqdRLk&amp;media=3083&amp;campaign=1"></script>
            </div>
            <div class="text-center mt-3 d-block d-md-none">
                <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHqws6I0Pc5-VWNd7ZgqdRLk&amp;media=3084&amp;campaign=1"></script>
            </div>
        </div>
    </div>
</div>