{% load i18n %}
{% load static %}
<div class="container aos-init aos-animate p-3">
    <h3 class="text-center mb-4">{% trans "Si vous êtes à la recherche d'un des meilleurs brokers de trading reconnus dans le monde entier, ne cherchez pas plus loin que Deriv" %}</h3>
    {% if not LANGUAGE_CODE == 'ar' %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mb-2 text-center">
            <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHr5HqpHU4-z4GNd7ZgqdRLk&amp;media=3138&amp;campaign=1"></script>
        </div>
        <div class="col-md-6 mb-2 text-center">
           <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHpqC5mQXGs4IWNd7ZgqdRLk&amp;media=3089&amp;campaign=1"></script>
        </div>
    </div>

    {% else %}
    <div class="row row d-flex justify-content-center">
        <div class="col-md-6 mb-2 text-center">
            <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHr5HqpHU4-z4GNd7ZgqdRLk&amp;media=3138&amp;campaign=1"></script>
        </div>
        <div class="col-md-6 mb-2 text-center">
           <script type="text/javascript" src="https://js.partnershipsprogram.com/javascript.php?prefix=HqT6RN58FHpqC5mQXGs4IWNd7ZgqdRLk&amp;media=3089&amp;campaign=1"></script>
        </div>
    </div>
    {% endif %}
</div>