{% extends 'dash.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class='col-md-6'>
            <h1 class="h4">{% trans "Change Password" %}</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <label class="p-0" for="id_old_password" >{% trans 'Old Password' %}</label><br>
                {% if form.old_password.errors %}
                <span class="helptext text-danger">{% trans 'The old password is incorrect.' %}</span>
                {% endif %}
                <input type="password" class="form-control border" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"><br>
                <label class="p-0" for="id_new_password1">{% trans 'New password' %}</label><br>
                <input type="password" class="form-control border" name="new_password1" autocomplete="new-password" required id="id_new_password1"><br>
                <span class="helptext"></span>
                <label class="p-0" for="id_new_password2">{% trans 'New Password confirmation' %}</label><br>
                {% if form.new_password2.errors %}
                <span class="helptext text-danger">{% trans 'Le mot de passe ne correspond pas.' %}</span>
                {% endif %}
                <input type="password" class="form-control border" name="new_password2" autocomplete="new-password" required id="id_new_password2"><br>
                <button type="submit" class="btn btn-success mt-3 w-100">{% trans 'Change' %}</button>
            </form>
            <br>
            <div>
                <ul class="p-0">
                    <li> {% trans 'Your password can’t be too similar to your other personal information.' %} </li>
                    <li> {% trans 'Your password must contain at least 8 characters.' %} </li>
                    <li> {% trans 'Your password can’t be a commonly used password' %} </li>
                    <li> {% trans 'Your password can’t be entirely numeric.' %} </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}



