{% extends 'dash.html' %}
{% load static %}
{% block content %}
{% if user in page.block.all or page.user in user.profile.block.all %}
{% include '404.html' %}
{% load i18n %}
{% else %}
<div class="container">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="{{page.avatar.url}}" alt="{{page.user}}" class="rounded-circle cover" width="150" height="150">
                  <div class="mt-3">
                    <h4>{{page.user.first_name}} {{page.user.last_name}}</h4>
                    <p class="text-secondary mb-1">@{{page.user.username}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body p-0">
                <div class="row p-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{% trans "Full Name" %}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{page.user.first_name}} {{page.user.last_name}}
                  </div>
                </div>
                <hr class="m-0">
                <div class="row p-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{% trans "Email" %}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{page.user.email}}
                  </div>
                </div>
                {% if page.phone != 0 or user == page.user %}
                <hr class="m-0">
                <div class="row p-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{% trans "Phone" %}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {% if page.phone == 0 %} <a href="#" class="text-sm">Add phone</a> {% else %} {{page.phone}} {% endif %}
                  </div>
                </div>
                {% endif %}

                {% if page.country != 0 or user == page.user %}
                <hr class="m-0">
                <div class="row p-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{% trans "Country" %}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                  {{page.country}}
                  </div>
                </div>
                {% endif %}

                
                {% if user == page.user %}
                <hr class="m-0">
                <div class="row p-3">
                  <div class="col-sm-12">
                    <a class="btn btn-info m-0 text-white" href="{% url 'profile_update' page.id %}">{% trans "Edit" %}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% comment %}
            <div class="card mb-2">
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">{% trans "Website" %}</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"> <input type="text" name="web" id="web" class="form-control" value="{{page.user.media.web}}"></div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Github</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"> <input type="text" name="github" id="github" class="form-control" value="{{page.user.media.github}}"></div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Facebook</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"> <input type="text" name="facebook" id="facebook" class="form-control" value="{{page.user.media.facebook}}"></div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Twitter</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"> <input type="text" name="twitter" id="twitter" class="form-control" value="{{page.user.media.twitter}}"></div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Instagram</h6>
                  </div>
                  <div class="col-sm-9 text-secondary"> <input type="text" name="instagram" id="instagram" class="form-control" value="{{page.user.media.instagram}}">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9 text-secondary"> <input type="button" id="update-sucial" class="btn btn-primary px-4" value="Save Changes">
                  </div>
                </div>
              </form>
              </div>
            </div>

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3">{% trans "Skills" %}</h6>
                    {% for skill in page.skills.all %}
                    <small>{{skil.name}}</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: {{skill.scour}}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% empty %}
                    <div class="d-flex justify-content-center">
                      <a href="#" class="text-sm"><strong> + </strong>{% trans "New Skill" %}</a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3">Languages</h6>
                    {% for lang in page.language.all %}
                    <small>{{lang.name}}</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: {{lang.scour}}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% empty %}
                    <div class="d-flex justify-content-center">
                      <a href="#" class="text-sm"><strong> + </strong>{% trans "New Language" %}</a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
          

{% endif %}
{% endblock %}
{% block script %}
{% endblock %}