{% load static %}
{% load i18n %}
{% load i18n %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="logo"><a href="/">Algo indicateur</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" trans="" href="/#hero">{% trans "Accueil" %}</a></li>
                <li><a class="nav-link scrollto" trans="" href="/products">{% trans "Nos produits" %}</a></li>
                {% if user.is_authenticated %}
                <li>
                    <a class="nav-link scrollto" href="/cart" trans>{% trans "Panier" %}
                        <span id="cart" class="bg-danger px-1 mx-2 rounded text-white">
                            {{user.user_cart.all.count}}
                        </span>
                    </a>
                </li>
                {% endif %}
                <li class="dropdown me-2"><a href="#"><span>&#xa0;{% trans "Langue" %}&#xa0;</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <form action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                            {% if LANGUAGE_CODE == 'fr' %}
                            <li>
                                <button name="language" value="ar" class="btn w-100 text-end" dir="auto" lang="ar">
                                    <img src="{% static 'assets/img/drapo/morocco.png' %}" width="30px" alt="العربية" />
                                    &#xa0;العربية &#xa0;
                                </button>
                            </li>
                            {% else %}
                            <li>
                                <button name="language" class="btn w-100 text-start" value="fr" dir="auto">
                                    <img src="{% static 'assets/img/drapo/france.png' %}" width="30px" alt="Français" />
                                    &#xa0; Français &#xa0;
                                </button>
                            </li>   
                            {% endif %}
                        </form>

                    </ul>
                </li>
                <li><a class="getstarted scrollto mx-2" href="/contact">{% trans "Contactez-nous" %}</a></li>
                {% if not user.is_authenticated %}
                <li><a class="btn-get-started getstarted scrollto mx-2 m-0" href="/accounts/login">{% trans "Connexion" %}</a></li>
                {% endif %}
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>