{% extends 'dash.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-10">
            <div class="card-body">
                <div class="text-center mt-3">
                    {% if message.user %}
                    <img src="{{ message.user.profile.avatar.url }}" width="60px" alt="{{message.full_name}}" class="rounded-circle border">
                     {% else %}   
                     <img src="/media/user_default.webp" width="60px" alt="{{message.full_name}}" class="rounded-circle border">

                    {% endif %} 
                    <h5 class="card-title p-1">{{message.full_name}}</h5>
                    {% if message.user %}
                    <h6>@{{message.user.username}}</h6>
                    {% endif %}
                </div>
                <p>Email <strong>&#xa0;<a href="mailto:{{message.email}}">{{message.email}}</a></strong></p>
                {% if message.phone %}
                <p>Phone <strong>&#xa0;&#xa0;<a href="tel:{{message.phone}}">{{message.phone}}</a></strong>
                    &#xa0;&#xa0;<a target="_blank" href="https://api.whatsapp.com/send?phone={{message.phone}}&text=Bonjour" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Whatsapp message"><i class="bx bxl-whatsapp fs-5"></i></a>
                </p>
                {% endif %}
                <pre dir="auto" class="h6" style="white-space: pre-wrap;font-family: system-ui;overflow: inherit;">{{message.message}}</pre>
                <hr />
                <p dir="auto">{{ message.created|timesince }}</p>
                
            </div>
          </div>
    </div>
</div>
{% endblock content %}